.vs
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.incr
*.pdb
*.ipch
*.opensdf
*.sdf
*.suo
*.user
*.rsuser
*.ncb
*.log
*.tlog/
*.obj
*.o
*.sbr
*.slo
*.sdf
*.suo
*.cache/
*.ilk
*.idb
*.pdb
*.ipdb
*.opendb
*.opendb.lock
*.vs/
.vscode/
debug/
release/
x64/Debug/
x64/Release/

CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json
CMakePresets.json
*.cmake
*.dir/

*.exe
*.dll
*.so
*.dylib
*.out
*.lib
*.a

*.vcxproj
*.vcproj
*.vcproj.filters

build/
bin/
obj/
lib/

*.log
*.tmp
*.temp
*.ninja_log
*.swp
*.DS_Store

*.bak
*.old
*.orig
